*{
	box-sizing: border-box;
}

body, html{
	height: 100%;
}

body{
	background: #60A561;
}

h1{
	text-align: center;
}

#playAlbum{
	float: right;
	margin-right: 100px; 
}

h2#seedling{
	cursor: pointer;
}
